<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= data.name %> <%= data.title %></title>
</head>

<body>
    <header>
        <div id="header-1">
            <div class="header-item" id="seleciona-tipo">
                <i id="menu" class="fa-solid fa-bars fa-2xl" style="color: #ffffff;"></i>
                <div id="itens-selecionar">
                    <a id="item1selecionar" class="texto-selecionar" href="/sobre">Sobre</a>
                    <a id="item2selecionar" class="texto-selecionar" href="/filmes">Filmes</a>
                    <a id="item3selecionar" class="texto-selecionar" href="/series">Séries</a>
                    <a id="item4selecionar" class="texto-selecionar" href="/populares">Populares</a>
                    <a id="item5selecionar" class="texto-selecionar" href="/lancamentos">Lançamentos</a>
                </div>
            </div>

            <a href="/"><img class="header-item" id="logo" src="/img/logo.png" alt="Samuca Cine"></a>

            <div class="header-item" id="links-header">
                <a class="texto-header" href="/sobre">Sobre</a>
                <a class="texto-header" href="/filmes">Filmes</a>
                <a class="texto-header" href="/series">Séries</a>
                <a class="texto-header" href="/populares">Populares</a>
                <a class="texto-header" href="/lancamentos">Lançamentos</a>
            </div>

            <div class="header-item" id="social-header">
                <a target="_blank" rel="noopener" class="social-header" href=""><img class="social-img"
                        src="/img/social/instagram.png" alt="Instagram"></a>
                <a target="_blank" rel="noopener" class="social-header" href=""><img class="social-img"
                        src="/img/social/linkedin.png" alt="Linkedin"></a>
                <a target="_blank" rel="noopener" class="social-header" href="https://github.com/devsamuca"><img
                        class="social-img" src="/img/social/github.png" alt="Github"></a>
            </div>
        </div>

        </div>
    </header>
    <main id="maininfo">
        <div id="main-info">
            <div id="poster-filmeserie">
                <img id="poster-img" src="https://image.tmdb.org/t/p/w500/<%= data.poster_path %>"
                    alt="<%= data.name %> <%= data.title%>">
            </div>
            <div id="sobre-filmeserie">
                <h1>
                    <%= data.name %>
                        <%= data.title %>
                </h1>

                <p>
                    <% if (data.first_air_date || data.release_date) { %>
                        <strong>Estreia:</strong>
                        <% 
                            const releaseDate = data.first_air_date || data.release_date; 
                            if (releaseDate) { 
                                const dateParts = releaseDate.split('-'); 
                        %>
                            <%= dateParts[2] %>/<%= dateParts[1] %>/<%= dateParts[0] %>
                        <% } %>
                    <% } %>
                    
                </p>
                <p>
                    <%if( data.overview ){%>
                        <strong>Visão geral:</strong>
                        <%= data.overview %>
                            <%}%>
                </p>

                <p>
                    <%if( data.number_of_seasons ){%>
                        <strong>Temporadas:</strong>
                        <%= data.number_of_seasons %>
                            <%}%>
                </p>
                <p>
                    <%if( data.genres ){%>
                        <% let genero=[]; for(let i=0; i < data.genres.length; i++) { genero.push(data.genres[i].name)
                            }; %>
                            <% let generos=genero.join(' - ')%>
                            Generos: 
                        <%= generos %>
                            <%}%>
                </p>

                <p>
                    <%if( data.vote_average ){%>
                        Nota:
                        <%= Math.round(data.vote_average * 10)/10 %>
                            <%}%>
                </p>
                <p>
                    <%if( data.runtime ){
                        let minFilmeSerie = data.runtime

                        let tempoFilmeSerie = minFilmeSerie / 60
                        tempoFilmeSerie = Math.round(tempoFilmeSerie * 100) /100
                        tempoFilmeSerie = String(tempoFilmeSerie)
                        tempoFilmeSerie = tempoFilmeSerie.split('.') %>
                                <strong>Duração:</strong>
                                <%= tempoFilmeSerie[0] %>h <%= tempoFilmeSerie[1] %>min
                                        <%}%>
                </p>
            </div>
        </div>
    </main>

    <section id="section-assistir">
        <h1>Assista em alguma dessas plataformas:</h1>
        <div id="assistir">
            <a href="https://www.max.com/br/pt" target="_blank" rel="noopener"><img class="assistir"
                    src="/img/assistir/hbo.png" alt="HBO"></a>
            <a href="https://globoplay.globo.com/" target="_blank" rel="noopener"><img class="assistir"
                    src="/img/assistir/globoplay.png" alt="Globo"></a>
            <a href="https://www.netflix.com/" target="_blank" rel="noopener"><img class="assistir"
                    src="/img/assistir/netflix.png" alt="Netflix"></a>
            <a href="https://www.primevideo.com/-/pt/offers/nonprimehomepage/ref=dv_web_force_root?language=pt"><img
                    class="assistir" src="/img/assistir/prime-video.png" alt="Prime Video" target="_blank"
                    rel="noopener"></a>
        </div>
    </section>
    <footer>
        <div id="footer2"></div>

            <div id="footer2-icons">
                <a target="_blank" rel="noopener" href="https://github.com/devsamuca"><img class="footer2-icon"
                        src="/img/social/github.png" alt="Github"></a>
                <a target="_blank" rel="noopener" href="https://www.instagram.com/samuca.io"><img class="footer2-icon"
                        src="/img/social/instagram.png" alt="Instagram"></a>
                <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/devsamuel/"><img
                        class="footer2-icon" src="/img/social/linkedin.png" alt="Linkedin"></a>
                <a target="_blank" rel="noopener" href="https://www.youtube.com/@iosamuca"><img class="footer2-icon"
                        src="/img/social/youtube.png" alt="Youtube"></a>
                <a target="_blank" rel="noopener" href="https://open.spotify.com/user/31vw57cbppfuqfi2mgy3fjgr53eu"><img
                        class="footer2-icon" src="/img/social/spotify.png" alt="Spotify"></a>
                <a target="_blank" rel="noopener" href="https://x.com/samucaioo"><img class="footer2-icon"
                        src="/img/social/x.png" alt="X"></a>
                <a target="_blank" rel="noopener" href="https://discord.gg/jETY8m2n6g"><img class="footer2-icon"
                        src="/img/social/discordi.png" alt="Discord"></a>
            </div>

        </div>
        <div id="footer3">
            <p id="copyright" class="footer-titulo">©Copyright 2024. Desenvolvido por Samuel Souza. &#127801</p>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/f59b0f7f02.js" crossorigin="anonymous"></script>
    <script src="/js/js.js"></script>
</body>

</html>